.name-div
{
    margin-top: 1%;
    font-size: 100px;
    text-align: center;
}

.image-div {
    height: 250px;
    width: 250px;
    background-color: #99C4C8;
    margin-top: 0px;
}

svg {
    color: #EEE4AB;
    height: 250px;
    width: 250px;
}

.input-div
{
    width: 400px;
}

.info-div {
    height: 500px;
    width: 500px;
    background-color: #E5CB9F;
    position: fixed;
    margin-left: 1670px;
    margin-top: -400px;
    transition: 1s;
    color: black;
}

    .info-div:hover 
    {
        height: 600px;
        width: 600px;
        margin-left: 1620px;
        margin-top: -450px;
    }

.info
{
    margin-top: 33%;
    margin-right: 45%;
    font-size: large;
}