.name-div
{
    margin-top: 3%;
    font-size: 100px;
    
}

.image-div
{
    height: 250px;
    width: 250px;
    background-color: red;
    margin-top: 5%;
}

.input-div
{
    width: 400px;
}

.info-div
{
    height: 500px;
    width: 500px;
    background-color: lightblue;
    position: fixed;
    margin-left: 1670px;
    margin-top: -400px;
    transition: 1s;
}

    .info-div:hover 
    {
        height: 600px;
        width: 600px;
        margin-left: 1620px;
        margin-top: -450px;
    }